.container {
  display: flex;
  flex-direction: row;
}

.main-container {
  display: flex;
  flex-direction: row;
}

.messages-container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  margin: 0;
  /* text-align: center; */
  background-color: whitesmoke;
}

button {
  background: linear-gradient(tomato, #e66465);
  color: whitesmoke;
}