.card-container {
    display: flex;
    flex-direction: row;
    width: 75vw;
    height: 50vh;
    align-self: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.login {
    width: 80%;
    text-align: center;
    justify-content: center;
}

.login_field {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border-bottom: 1px solid slategray; */
    align-items: center;
    position: relative;
    /* border-radius: 5px; */
    /* box-shadow: rgb(0, 0, 0) 0px 6px 15px -10px; */
}

.login_field > input {
    border-bottom: 1px solid slategray;
    box-shadow: rgb(0, 0, 0) 0px 6px 15px -10px;
    margin-right: 0;
}

input:focus {
    outline: none;
    box-shadow: rgb(0, 0, 0) 0px 6px 15px -10px;
}

.login_button {
    height: 40px;
    border-radius: 5px;
    position: absolute;
    right: 0;
    width: 150px;
    text-align: center;
    position: relative;
    outline: none;
    transition: width ease-out 1s;
}

.login_button > span {
    position: absolute;
    opacity: 0;
    transform: translate(0, 15px);
    width: 100px;
}

/* .button_container: {

} */

.button_container:hover .login_button {
width: 225px;
text-align: start;
}

/* .login_button {
    position: absolute;
    right: 0;
} */


.button_container:hover .login_button > span {
    opacity: 1;
    transform: translate(0, 0)
    /* visibility: visible; */
}

@keyframes sliding {
    from {
        right: 0
    }
    to {
        left: 0;
    }
}




/* .login_button:active {
    animation: submitting
} */


