
.message__input {
  width: 60%;
  text-align: start;
  height: 5vh;
  /* outline: none; */
}
.message__input:focus {
  outline: none;
}

.message__input__container {
  position: fixed;
  bottom: 0;
  width: 90%;
}

.message__form {
  width: 100%;
}

